* {
box-sizing:border-box;
}

body {
font-family: 'Oleo Script', cursive;
/* This is the link of this google font:https://fonts.google.com/specimen/Oleo+Script?sidebar.open=true&selection.family=Oleo+Script */
}

header{
background-color:#16331E;
padding: 1em;
text-align: center;
font-size: 1em;
color: #DADA00;
}

nav {
float: left;
width: 13%;
height:37em;
background: #7BD786;
padding: 1em;
font-size: 1em;
}

nav ul {
list-style-type: none;
padding:0;
}
nav ul li{
list-style-type:none;
width:10em;
text-align:center;
margin-left:0em;
}
nav ul li a{
text-decoration:none;
color:black;
display:block;
background-color:#FFE61F;
box-shadow: 6px 6px 6px gray;
margin-bottom:4px;
}
nav ul li a:hover {
background-color:#99EAF1;
box-shadow:4px 4px 4px gray;
border:none;
}

section{
float:left;
padding:2em;
width: 50%;
background-color:#68E377;
height:37em;
}

article{
float:left;
padding:2em;
width: 37%;
background-color:#48DD5A;
height:37em;
}

footer{
background-color:#56CBCB;
text-align:center;
color:#81028E;
height:4em;
float:left;
width:100%;
clear:both;
border:3px red solid;
}

img{
border: 6px solid blue;
height: 268px;
}

h2{
color:#BA5400;
}

